.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.btn-primary-cidwhite {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-primary-cidwhite:hover {
    background-color: #4039DB;
    color: #ffffff;
    border-color: #4039DB;
}

.btn-primary-cidwhite:focus,.btn-primary-cidwhite:active {
    outline: none !important;
    box-shadow: none;
    border-color: #150e99;
    background-color: #150e99;
    color: #ffffff;
 }



.btn-primary-cidblue {
    background-color: #4039DB;
    color: #ffffff;
    border-color: #4039DB;
}

.btn-primary-cidblue:hover {
    background-color: #5858E8;
    color: #ffffff;
    border-color: #5858E8;
}

.btn-secondary-cidblue {
    background-color: #ffffff;
    color: #4039DB;
    border-color: #4039DB;
}

.btn-secondary-cidblue:hover {
    background-color: #5858E8;
    color: #ffffff;
    border-color: #5858E8;
}


.btn-primary-cidblue:focus,.btn-primary-cidblue:active,.btn-secondary-cidblue:focus,.btn-secondary-cidblue:active {
    outline: none !important;
    box-shadow: none;
    border-color: #150e99;
    background-color: #150e99;
    color: #ffffff;

 }


.btn-primary-cidyellow {
    background-color: #ffce00;
    color: #242424;
    border-color: #ffce00;
}

.btn-primary-cidyellow:hover {
    background-color: #FFDC6C;
    color: #242424;
    border-color: #FFDC6C;
}