.jobcard{
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: rgba(166, 191, 255, 0.2) 0px 8px 24px;
        margin: 10px;
        padding: 15px;
    }

.jobcard-topmenu{

}

.jobcard-profile{
}

.jobcard-profile-title {
    color: #38349F;
    font-size: 20px;
    margin: 15px;
    font-weight: 600;
    overflow: hidden;
}

.jobcard-details{
    padding: 2px;
    margin-top: 15px;
    margin-left: 15px;
}
.jobcard-details-icon{

    padding-right: 8px;
}
.jobcard-details-text{
    padding-right: 8px;
}

.jobcard-skills{

    overflow: hidden;
    margin-top: 15px;
    margin-left: 10px;
}

.cidbadge-yel1ow{
    background-color: #ffce00;
    font: #242424;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    }

.jobcard-summary{
    background-color: #F5F5FF;
    border-color: #DDDBFF;
    margin-top: 10px;
    overflow: hidden;
    }

.jobcard-summary-text {
    color: #1E1E1E;
    font-size: 12px;
    margin: 10px;

    overflow: hidden;
}
