.header-cid{
    background-color: #38349F;
    height: 70px;
    padding: 0% 10%;
    box-shadow: rgba(166, 191, 255, 0.2) 0px 8px 24px;

}

.header-cid>p{
    color: #FFE45E;
    font-size: 30px;

}


body{
    color: #2f2f30;
}

.form-control {
    width: 100%;
 }

.form-control:focus,.form-control:active,.form-control:hover {
    box-shadow: none;
    border-color: #4039DB;
 }

.cid-label{
    color: #38349F;
    font-size: 14px;
}

/* Form End */

/* box start */

.cid-box{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(166, 191, 255, 0.2) 0px 8px 24px;
    margin: 10px;
}

.bluecard{
    background-color: #F5F5FF;
    border-color: #DDDBFF;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 5px;
    }


h1, h5, h6 {
    color: #4039DB;
 }

 h2, h3, h4, p {
    color: #313131;
 }

 h6 {
    font-weight: 400;
    margin-top: 25px;
 }


 .cidbadge-yel1ow-1{
    background-color: #ffce00;
    font: #242424;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    }


